<% include ../partials/header-new.ejs %>
<% include ../partials/navbar.ejs %>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <% include ../partials/alerts.ejs %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Service Set <%= serviceSet.serviceSetID %> <% if(serviceSet.networkName){%>(<%= serviceSet.networkName %>)<% } %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Service Set Information</h3>
            <table class="table">
                <tr><th>Service Set ID</th><td><%= serviceSet.serviceSetID %></td></tr>
                <tr><th>BSSID</th><td><%= serviceSet.bssid %></td></tr>
                <tr><th>Network Name</th><td><%= serviceSet.networkName %></td></tr>
                <tr><th>Channels Seen</th><td id="channels-info"></td></tr>
                <% if(busyData.isUnknownStatus) { %>
                    <tr><th>Is Recently Busy</th><td><div class="btn btn-warning">Unknown: <%= busyData.reason %></div></td></tr>
                <% } else if(busyData.isBusy) {%>
                    <tr><th>Is Recently Busy</th><td><div class="btn btn-danger">Yes as of <%= busyData.maxMeasurementTime.toLocaleString() %></div></td></tr>
                <% } else { %>
                    <tr><th>Is Recently Busy</th><td><div class="btn btn-success">No as of <%= busyData.maxMeasurementTime.toLocaleString() %></div></td></tr>
                <% }%>
                <% for(let key of Object.keys(serviceSet.extraData)) { %>
                <tr><th><%= key.charAt(0).toUpperCase() + key.slice(1) %></th><td><%= serviceSet.extraData[key]%></td></tr>
                <% } %>
            </table>
            <hr>
            <h3>Network Devices Information</h3>
            <div id="service-set-infra-device-manufacturer-chart-container" class="chart-container">
                <canvas id="service-set-infra-device-manufacturer-chart"></canvas>
            </div>
            <hr>
            <div id="service-set-associated-device-manufacturer-chart-container" class="chart-container">
                <canvas id="service-set-associated-device-manufacturer-chart"></canvas>
            </div>
        </div>
        <div class="col">
            <h3>Latest Data</h3>
            <div id="service-set-recent-frame-counts-graph-container" class="chart-container">
                <canvas id="service-set-recent-frame-counts-graph"></canvas>
            </div>
            <div id="service-set-recent-throughput-graph-container" class="chart-container">
                <canvas id="service-set-recent-throughput-graph"></canvas>
            </div>
            <div id="service-set-unique-associated-station-graph-container" class="chart-container">
                <canvas id="service-set-unique-associated-station-graph"></canvas>
            </div>
            <div class="form-horizontal">
                <!--<div class="form-group">
                    <a href="/serviceSets/<%= serviceSet.serviceSetID %>/chart" class="btn btn-dark btn-block">Open Advanced Chart</a>
                </div>-->
                <div class="form-group">
                    <label for="automatic-update">Automatic Refresh <span id="last-refresh-time"></span></label>
                    <input type="checkbox" id="automatic-update" name="automatic-update" value="automatic-update" checked>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer-new.ejs %>